.header-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    /* height: 40%; */
    z-index: -1;
}
  
.header-background svg {
    display: block;
    width: 100%;
    height: auto;
}