.controls {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.picker .input {
  display: none;
}

.picker .button {
  border: 0;
  padding: 0.5rem 1.5rem;
  background: #b4d7a3;
  border-radius: 8px;
  cursor: pointer;
  font: inherit;
}

.picker .button:hover,
.picker .button:focus {
  background: #a9c09e;
}

.preview {
  width: 10rem;
  height: 10rem;
  border: 2px solid #b8cbaf;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f3ece0;
  position: relative;
}

.preview p {
  margin: 0;
  padding: 1rem;
}

.preview img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}